{% extends 'index.html' %}
{% block content %}
<option value="beagle_01.jpg">
<option value="beagle_02.jpg">
<option value="beagle_03.jpg">
<option value="bernese_mountain_dog_01.jpg">
<option value="bernese_mountain_dog_02.jpg">
<option value="dhole_01.jpg">
<option value="dhole_02.jpg">
<option value="english_setter_01.jpg">
<option value="english_setter_02.jpg">
<option value="japanese_spaniel_01.jpg">
<option value="japanese_spaniel_02.jpg">
<option value="kelpie_01.jpg">
<option value="kelpie_02.jpg">
<option value="kelpie_test.jpg">
<option value="labrador_retriever_01.jpg">
<option value="labrador_retriever_02.jpg">
<option value="siberian_husky_01.jpg">
<option value="siberian_husky_02.jpg">
<option value="west_highland_white_terrier_01.jpg">
<option value="west_highland_white_terrier_02.jpg">
{% endblock %}